body {
    margin: 0;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.left {
    left: 0;
    background-color: whitesmoke;
}

.right {
    right: 0;
    background-color: firebrick;
}

.design_split {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.design_left_top {
    height: 50%;
    background-color: whitesmoke;
}

.design_left_bottom {
    position: relative;
    height: 50%;
    width: 50%;
    background-color: yellow;
    display: flex;
}

.circle {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    background-color: turquoise;
    align-self: center;
    margin: auto;
}

.top_square {
    height: 50%;
    width: 50%;
    background-color: grey;
}

.bottom_square {
    height: 50%;
    width: 50%;
    background-color: gainsboro;
    float: right;
}

.design_right {
    right: 0;
    background-color: yellow;
    background-image: linear-gradient(to top left, #e394a3 50%, #8dd6a6 50%);
}

#info_half {
    display: flex;
    justify-content: center;
}

h1 {
    align-self: flex-end;
    margin-bottom: 150px;
}