body {
    background-color: #7e7e7e;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    font-family: 'Montserrat', sans-serif;
    color: beige;
    width: 80%;
    margin: 0 auto;
}

h1 {
    display: inline-block;
    font-size: 60px;
    padding: 0px 10px;
}

#mainHeading {
    text-align: center;
    padding: 0px;
}

.logo {
    height: 50px;
    width: auto;
    vertical-align: text-bottom;
}

a {
    color: orange;
}