/* Random comment to remember how to do CSS comments */

body {
    background-color:lightgoldenrodyellow;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align:center;
    font-size: 60px;
    text-shadow: 2px 2px 3px grey;
}

h2 {
    text-align: center;
    padding-bottom: 40px;
}

#technologies {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

#image {
    height:300px;
    justify-self: end;
}